# Mac-related metadata
# --------------------
# The following metadata is used by the Mac OS X Finder to store folder-specific view options.
# See http://support.apple.com/kb/HT1629?viewlocale=en_US for more info.

**/.DS_Store
